<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" icon="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plataformas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.image" alt="Avatar">
      </ion-avatar>
      <ion-label>{{ item.text }}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked" (ionChange)="showToast(item)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    
  </ion-toolbar> 
</ion-footer>