<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" icon="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plataformas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.image" alt="Avatar">
      </ion-avatar>
      <ion-label>{{ item.text }}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked" (ionChange)="mostrarTarjeta(item)"></ion-checkbox>

      <ion-card *ngIf="item.mostrarTarjeta">
        <img [src]="item.imagenTarjeta" alt="Imagen de {{ item.text }}">
        <ion-card-content>
          <p>{{ item.descripcion }}</p>
          <ion-button [href]="item.url" expand="full">Jugar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h1 style="color: rgb(229, 98, 11); margin-left: 15%;">Selecciona juego</h1>
  </ion-toolbar> 
</ion-footer>
