.boton{
    background-color: var(--ion-color-personalizado);
}
.tabs{
    margin-left: 45%;
    color: gray;
}
.btn{
    color: white;
    font-size: 20px;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    margin-top: 80%;
    margin-left: 86%;
    background-color: var(--ion-color-tertiary-shade);
}
ion-toolba{
    background-color: rgb(82, 45, 215);
}

ion-tabs{
    background-color: grey;
}