
.btn {
    background-color: var(--ion-color-personalizado);
}
.tabs {
    margin-left: 10%;
    color: rgb(52, 52, 220);
}

ion-toolbar {
    --ion-background-color: rgb(241, 210, 210);
}

.fondo {
    background-image: url('https://www.viniloscasa.com/42783-thickbox/papel-pintado-o-fotomural-personajes-videojuegos.jpg');/* Ruta de tu imagen de fondo */
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    opacity: 80%;
}
div.tabs{
    color: blue;
    --ion-background-color: rgb(235, 221, 221);
}