.info{
    margin-left: 20%;
    color: rgb(128, 127, 127);
}
div.autor{
    margin-top: 80px;
    background-image: url("https://i.blogs.es/2993ee/consola-02/1024_2000.webp");
    background-repeat: no-repeat;
    height: 100vh;
}
.autor > p {
    color: white;
    margin-left: 40px;
    margin-top: 1px;
}
