ion-toolbar {
    --ion-background-color: red;
    color: rgb(11, 11, 244);
}  

.descripcion {    
    background-image: url("https://i.blogs.es/2993ee/consola-02/1024_2000.webp");
    background-repeat: no-repeat;
    height: 100%;
}
    p {
        color: white;
        margin-left: 40px;
        margin-top: 0px;
}


ion-toolbar{
    --ion-background-color: red;
}