<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" icon="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carreras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-icon name=""></ion-icon> 
    </ion-card-header>
    <ion-card-content>
      <ion-img src="https://lh6.googleusercontent.com/-Xf-YiKig5E4/TkU1ho6q0rI/AAAAAAAADHY/rTbSOA0aXmg/s800/outrun_logo.jpg"></ion-img> <!-- Reemplaza "URL-de-la-imagen" con la URL de tu imagen opcional -->
      <p>Out Run</p>
      <ion-button expand="full" href="https://www.minijuegos.com/juego/out-run-retro">Jugar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<div class="centrado">
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-button href="https://www.minijuegos.com/juego/micro-machines">Micro Machines</ion-button>

    <ion-button href="https://www.minijuegos.com/juego/speed-trucks">Speed Trucks</ion-button>

    <ion-button href="https://www.minijuegos.com/juego/crash-drive-2">Crash Drive II</ion-button>
  </ion-fab-list>
</ion-fab>
</div>
