<ion-header [translucent]="true" class="cabecera">
  <ion-toolbar style="color: red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" icon="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Luchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card *ngFor="let card of cards" class="card">
    <ion-card-header class="card-header">
      <ion-card-title>{{ card.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <!-- Video de YouTube -->
      <iframe width="100%" height="315" [src]="getSafeYouTubeEmbedUrl(card.videoUrl)"></iframe>
      <!-- Descripción -->
      <p class="description">{{ card.description }}</p>
      <!-- Imagen de respaldo  -->
      <img *ngIf="card.imageUrl" [src]="card.imageUrl" alt="" width="100%" height="315" />
    </ion-card-content>
    <ion-row class="card-footer">
      <ion-col size="2">
        <!-- Enlace externo en una nueva ventana del navegador -->
        <a [href]="card.externalLink" target="_blank">
          <ion-button>Jugar</ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="./tab3" style="color: blue;">
          <ion-icon name="game-controller-outline"></ion-icon>
          Plataformas
        </ion-tab-button>
        <ion-tab-button tab="./tab1" style="color: blue;">
          <ion-icon name="car-sport-outline"></ion-icon>
          Carreras
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar> 
</ion-footer>
